<ng-template #Templatepod>
    <div class="modal-header border-0 pb-0" style="padding: 10px 20px !important; background: #f3f3f3;">
        <div class="d-flex align-items-center gap-3">
            <div style="width:32px;height:32px;background:var(--blue);border-radius:8px;display:flex;align-items:center;justify-content:center;font-size:16px"
                class="text-light">
                <i class="ri-customer-service-2-fill"></i>
            </div>
            <div>
                <div class="modal-title fw-bold">Call Details</div>
            </div>
        </div>
        <button type="button" class="btn-close shadow-none" aria-label="Close" (click)="modalRef.hide()"></button>
    </div>

    <div class="modal-body">
        <div class="table-container">
            <table class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <td><strong>Call Category:</strong> {{ callResponse?.callCategoryName }}</td>
                        <td><strong>Call Date:</strong> {{ callResponse?.callDate }}</td>
                    </tr>
                    <tr>
                        <td><strong>Call Purpose:</strong> {{ callResponse?.purpose }}</td>
                        <td>
                            <strong>Start Time:</strong> {{ callResponse?.startTime }}
                            &nbsp; <strong>End Time:</strong> {{ callResponse?.endTime }}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Customer Name:</strong> {{ callResponse?.customerName }}</td>
                        <td><strong>Call Status:</strong> {{ callResponse?.callStatus }}</td>
                    </tr>
                    <tr>
                        <td><strong>Call Created By:</strong> {{ callResponse?.createdBy }}</td>
                        <td>
                            <strong>Call Created Date:</strong>
                            {{ callResponse?.createdDate | date : "dd/MM/yyyy" }}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Call Edited By:</strong> {{ callResponse?.modifiedBy }}</td>
                        <td>
                            <strong>Call Edited Date:</strong>
                            {{ callResponse?.modifiedDate | date : "dd/MM/yyyy" }}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Remarks:</strong> {{ callResponse?.remarks }}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal-footer border-0 pt-0">
        <button type="button" class="btn btn-secondary px-4 py-2 rounded-3 fw-bold" (click)="modalRef.hide()">
            Close
        </button>
    </div>
</ng-template>