<header class="header">
  <div class="header-left">
    <div class="page-title">
      <h1>Expense Approval</h1>
      <p>Approve 0/10 claims</p>
    </div>
  </div>
  
  <div class="header-right">
    <button class="btn btn-red">Today</button>
    <button class="btn btn-light-grey">This Week</button>
    <button class="btn btn-light-grey">This Month</button>
    <div class="user-profile">
      <div class="user-avatar">
        <span>MK</span>
      </div>
      <div class="user-info">
        <span class="user-name">Manoj Kumar</span>
        <span class="user-role">CTO - 3073</span>
      </div>
    </div>
  </div>
</header>
