<ng-template #Templatepod>
  <div class="modal-content-wrapper">
    <!-- Loader Overlay -->
    <div class="loader-overlay" *ngIf="isLoading">
      <div class="spinner"></div>
    </div>

    <div class="modal-header border-0 pb-0" style="padding: 10px 20px !important;">
      <div class="d-flex align-items-center gap-3">
        <div
          style="width:32px;height:32px;background:var(--purple);border-radius:8px;display:flex;align-items:center;justify-content:center;font-size:16px"
          class="text-light">
          <i class="ri-ticket-2-line"></i>
        </div>
        <div>
          <div class="modal-title fw-bold">{{complaint}} Complaint Ticket — CCM</div>
          <div style="font-size:11px;color:var(--text3);margin-top:1px">icket # auto-assigned · SLA clock starts on
            submission · CS team notified instantly</div>
        </div>
      </div>
      <button type="button" class="btn-close shadow-none" (click)="onClose()"></button>
    </div>


    <form *ngIf="complaint !== 'Escalation'" [formGroup]="ticketForm" (submit)="onSubmitTicket()" autocomplete="off">
      <div class="modal-body">
        <!-- Main Ticket Form (Add/Update/Close) -->

        <!-- ── STEP 1: Customer & Shipment Details ── -->
        <div class="step-header">
          <div class="step-num">1</div>
          Customer & Shipment Details
        </div>

        <div class="row p-2">
          <div class="col-6 fg">
            <label>User Details</label>

            <div class="form-control d-flex align-items-center gap-2 mb-3" [class.border-danger]="
                (ticketForm.controls['userID'].invalid && ticketForm.controls['userID']?.touched) ||
                (ticketForm.controls['userName'].invalid && ticketForm.controls['userName']?.touched)
              " style="min-height: 42px; background: #f8f9fa;">

              <span class="fw-semibold text-dark">
                {{ ticketForm.get('userID')?.value || '-' }}
              </span>

              <span class="text-muted">|</span>

              <span class="text-secondary">
                {{ ticketForm.get('userName')?.value || '-' }}
              </span>
            </div>

            <div *ngIf="
                (ticketForm.controls['userID'].invalid && ticketForm.controls['userID']?.touched) ||
                (ticketForm.controls['userName'].invalid && ticketForm.controls['userName']?.touched)
              " class="text-danger">

              <small *ngIf="ticketForm.controls['userID'].errors?.['required']">
                User ID is required.
              </small>

              <small *ngIf="ticketForm.controls['userName'].errors?.['required']">
                Username is required.
              </small>
            </div>
          </div>
          <div class="col-6 fg">
            <label>Manager Details</label>

            <div class="form-control d-flex align-items-center gap-2 mb-3" [class.border-danger]="
              (ticketForm.controls['managerId'].invalid && ticketForm.controls['managerId']?.touched) ||
              (ticketForm.controls['managerName'].invalid && ticketForm.controls['managerName']?.touched)
            " style="min-height: 42px; background: #f8f9fa;">

              <span class="fw-semibold text-dark">
                {{ ticketForm.get('managerId')?.value || '-' }}
              </span>

              <span class="text-muted">|</span>

              <span class="text-secondary">
                {{ ticketForm.get('managerName')?.value || '-' }}
              </span>
            </div>

            <div *ngIf="
              (ticketForm.controls['managerId'].invalid && ticketForm.controls['managerId']?.touched) ||
              (ticketForm.controls['managerName'].invalid && ticketForm.controls['managerName']?.touched)
            " class="text-danger">

              <small *ngIf="ticketForm.controls['managerId'].errors?.['required']">
                Manager ID is required.
              </small>

              <small *ngIf="ticketForm.controls['managerName'].errors?.['required']">
                Manager Name is required.
              </small>
            </div>
          </div>
          <div class="col-4 fg">
            <label>Docket No</label>
            <div class="position-relative">
              <input type="text" class="form-control" formControlName="docketNo" (input)="onDocketNoChange($event)"
                [readonly]="complaint !== 'Add'" placeholder="Enter Docket No"
                [ngClass]="{ 'border-danger': ticketForm.controls['docketNo'].invalid && ticketForm.controls['docketNo']?.touched}">
              <div *ngIf="loading && (complaint ==='Update' || complaint ==='Close')"
                class="position-absolute top-50 end-0 translate-middle-y me-3">
                <span class="spinner-border spinner-border-sm text-primary"></span>
              </div>
            </div>
            <div *ngIf="ticketForm.controls['docketNo'].invalid && ticketForm.controls['docketNo']?.touched"
              class="text-danger">
              <small *ngIf="ticketForm.controls['docketNo'].errors?.['required']" class="text-danger small mt-1">Docket
                no. is required.</small>
            </div>
          </div>
          <div class="col-4 fg">
            <label>Doc Date</label>
            <input type="text" class="form-control mb-3" formControlName="docDate" placeholder="Docket Date" readonly>
          </div>
          <div class="col-4 fg">
            <label>EDD</label>
            <input type="text" class="form-control mb-3" formControlName="EDD" readonly placeholder="EDD">
          </div>
          <div class="col-4 fg">
            <label>Billing Party</label>
            <input type="text" class="form-control mb-3" formControlName="billingParty" readonly
              placeholder="Billing Party">
          </div>
          <div class="col-4 fg">
            <label>Origin</label>
            <input type="text" class="form-control" formControlName="origin" placeholder="Origin" readonly>
          </div>
          <div class="col-4 fg">
            <label>Destination</label>
            <input type="text" class="form-control" formControlName="destination" readonly placeholder="Destination">
          </div>
          <div class="col-4 fg">
            <label>Current Location</label>
            <input type="text" class="form-control" formControlName="currentLocation" readonly
              placeholder="Current Location">
          </div>
          <div class="col-8 fg">
            <label>Ticket Address To</label>
            <ng-select [items]="locations" bindLabel="locName" bindValue="locCode" formControlName="ticketAddressTo"
              placeholder="Search Ticket Address To" [searchable]="true" [clearable]="true"
              (change)="getAssignTo($event.locCode)" appendTo="body"
              [ngClass]="{'border-danger': ticketForm.controls['ticketAddressTo'].invalid && ticketForm.controls['ticketAddressTo']?.touched}">
            </ng-select>
            <div
              *ngIf="ticketForm.controls['ticketAddressTo'].invalid && ticketForm.controls['ticketAddressTo']?.touched"
              class="text-danger">
              <small *ngIf="ticketForm.controls['ticketAddressTo'].errors?.['required']"
                class="text-danger small mt-1">Ticket Address To is
                required.</small>
            </div>
          </div>
          <div class="col-12 mt-2 fg">
            <label class="fw-bold">Current Status</label>
            <textarea rows="2" class="form-control" formControlName="currentStatus"
              [readonly]="complaint !== 'Add'"></textarea>
          </div>
        </div>

        <!-- ── STEP 2: Complaint Classification ── -->
        <div class="step-header">
          <div class="step-num">2</div>
          Complaint Classification
        </div>

        <div class="row g-3">
          <div class="col-md-6">
            <div class="fg">
              <label>Ticket Source *</label>
              <ng-select formControlName="source" [items]="ticketSources" bindLabel="codeDesc" bindValue="codeId"
                placeholder="Search Ticket Source" [clearable]="true" [searchable]="true" appendTo="body"
                [readonly]="complaint !== 'Add'"
                [ngClass]="{'border-danger': ticketForm.controls['source'].invalid && ticketForm.controls['source']?.touched}">
              </ng-select>
              <div *ngIf="ticketForm.controls['source'].invalid && ticketForm.controls['source']?.touched"
                class="text-danger">
                <small *ngIf="ticketForm.controls['source'].errors?.['required']">Ticket Source is required.</small>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="fg">
              <label>Ticket Priority *</label>
              <ng-select [items]="priorities" bindLabel="codeDesc" bindValue="codeId" appendTo="body"
                placeholder="Search Ticket Priority" formControlName="priority" [readonly]="complaint !== 'Add'"
                [ngClass]="{'border-danger': ticketForm.controls['priority'].invalid && ticketForm.controls['priority']?.touched}">
              </ng-select>
              <div *ngIf="ticketForm.controls['priority'].invalid && ticketForm.controls['priority']?.touched"
                class="text-danger">
                <small *ngIf="ticketForm.controls['priority'].errors?.['required']">Ticket Priority is required.</small>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="fg">
              <label>Ticket Date *</label>
              <div class="input-group"
                [ngClass]="{'border-danger': ticketForm.controls['complaintDate'].invalid && ticketForm.controls['complaintDate']?.touched}">
                <input class="form-control" placeholder="dd/mm/yyyy" #datepickerMDY="bsDatepicker" bsDatepicker required
                  formControlName="complaintDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" container="body"
                  [isDisabled]="complaint !== 'Add'" [class.disabled]="complaint !== 'Add'">
                <button class="btn btn-outline-secondary border shadow-none" (click)="datepickerMDY.toggle()"
                  type="button" [disabled]="complaint !== 'Add'">📅</button>
              </div>
              <div *ngIf="ticketForm.controls['complaintDate'].invalid && ticketForm.controls['complaintDate']?.touched"
                class="text-danger">
                <small *ngIf="ticketForm.controls['complaintDate'].errors?.['required']">Ticket Date is
                  required.</small>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="fg">
              <label>Ticket Type *</label>
              <ng-select [items]="ticketTypes" bindLabel="codeDesc" bindValue="codeId" placeholder="Search Ticket Type"
                formControlName="type" [readonly]="complaint !== 'Add'" (change)="getTicketSubTypes($event.codeId)"
                appendTo="body"
                [ngClass]="{'border-danger': ticketForm.controls['type'].invalid && ticketForm.controls['type']?.touched}">
              </ng-select>
              <div *ngIf="ticketForm.controls['type'].invalid && ticketForm.controls['type']?.touched"
                class="text-danger">
                <small *ngIf="ticketForm.controls['type'].errors?.['required']">Ticket Type is required.</small>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="fg">
              <label>Description *</label>
              <textarea rows="2" class="form-control" formControlName="description" [readonly]="complaint !== 'Add'"
                placeholder="Enter Description"
                [ngClass]="{'border-danger': ticketForm.controls['description'].invalid && ticketForm.controls['description']?.touched}"></textarea>
              <div *ngIf="ticketForm.controls['description'].invalid && ticketForm.controls['description']?.touched"
                class="text-danger">
                <small *ngIf="ticketForm.controls['description'].errors?.['required']">Description is required.</small>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="fg">
              <label>Ticket Sub Type *</label>
              <ng-select [items]="ticketSubTypes" bindLabel="codeDesc" bindValue="codeId" appendTo="body"
                placeholder="Search Ticket Sub Type" formControlName="subType" [readonly]="complaint !== 'Add'"
                [ngClass]="{'border-danger': ticketForm.controls['subType'].invalid && ticketForm.controls['subType']?.touched}">
              </ng-select>
              <div *ngIf="ticketForm.controls['subType'].invalid && ticketForm.controls['subType']?.touched"
                class="text-danger">
                <small *ngIf="ticketForm.controls['subType'].errors?.['required']">Ticket Sub Type is required.</small>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="fg">
              <label>Cust. Email ID</label>
              <div class="email-container">
                <div class="email-tags">
                  <span *ngFor="let email of emails; let i = index" class="email-tag">
                    {{ email }}
                    <button type="button" (click)="removeEmail(i)">×</button>
                  </span>
                </div>
                <input type="text" formControlName="customerEmail" (keyup)="onKeyUp($event)"
                  placeholder="Enter emails..." />
              </div>
              <div *ngIf="emailError" class="text-danger"><small>Email is invalid.</small></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="fg">
              <label>Assigned To</label>
              <ng-select formControlName="assignedToId" [items]="assignToList" bindLabel="userName" bindValue="userId"
                placeholder="Search Assigned To" [clearable]="true" [searchable]="true" appendTo="body"
                [ngClass]="{'border-danger': ticketForm.controls['assignedToId'].invalid && ticketForm.controls['assignedToId']?.touched}">
              </ng-select>
              <div *ngIf="ticketForm.controls['assignedToId'].invalid && ticketForm.controls['assignedToId']?.touched"
                class="text-danger">
                <small *ngIf="ticketForm.controls['assignedToId'].errors?.['required']">There is no data against this
                  branch code.</small>
              </div>
            </div>
          </div>
          <!-- Update Mode Fields -->
          <div class="col-md-6" *ngIf="complaint === 'Update'">
            <div class="fg">
              <label>Update Date</label>
              <div class="input-group">
                <input class="form-control" placeholder="dd/mm/yyyy" #dpUpdate="bsDatepicker" bsDatepicker required
                  formControlName="updateDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" container="body"
                  [isDisabled]="true" [class.disabled]="true">
                <button class="btn btn-outline-secondary border shadow-none" (click)="dpUpdate.toggle()" type="button"
                  [disabled]="true">📅</button>
              </div>
            </div>
          </div>
          <div class="col-md-6" *ngIf="complaint === 'Update'">
            <div class="fg">
              <label>Update Remarks *</label>
              <input type="text" class="form-control" formControlName="updateRemarks"
                [ngClass]="{'border-danger': ticketForm.controls['updateRemarks'].invalid && ticketForm.controls['updateRemarks']?.touched}">
              <div *ngIf="ticketForm.controls['updateRemarks'].invalid && ticketForm.controls['updateRemarks']?.touched"
                class="text-danger">
                <small *ngIf="ticketForm.controls['updateRemarks'].errors?.['required']">Update Remarks is
                  required.</small>
              </div>
            </div>
          </div>
          <!-- Close Mode Fields -->
          <div class="col-md-6" *ngIf="complaint === 'Close'">
            <div class="fg">
              <label>Close Remarks</label>
              <input type="text" class="form-control" formControlName="closeRemark">
            </div>
          </div>
          <div class="col-md-6" *ngIf="complaint === 'Close'">
            <div class="fg">
              <label>Closure Date</label>
              <div class="input-group">
                <input class="form-control" placeholder="dd/mm/yyyy" #dpClose="bsDatepicker" bsDatepicker required
                  formControlName="closureDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" container="body"
                  [isDisabled]="complaint === 'Close'" [class.disabled]="complaint === 'Close'">
                <button class="btn btn-outline-secondary border shadow-none" (click)="dpClose.toggle()" type="button"
                  [disabled]="complaint === 'Close'">📅</button>
              </div>
            </div>
          </div>
          <div class="col-md-6" *ngIf="complaint === 'Close'">
            <div class="fg">
              <label>Closed By</label>
              <input type="text" class="form-control" formControlName="closeBy" readonly>
            </div>
          </div>
          <div class="col-md-6">
            <div class="fg">
              <label>Browse Attachment</label>
              <input class="form-control" type="file" formControlName="browse" (change)="onFileSelected($event)"
                style="padding: 5px 10px !important;" />
            </div>
          </div>
        </div>
      </div>
      <!-- Footer Actions -->
      <div class="modal-footer">
        <div class="d-flex justify-content-between align-items-center w-100">
          <div>
            <div class="footer-note">SLA clock starts on submission.</div>
          </div>
          <div class="d-flex gap-2">
            <button type="button" class="btn-custom btn-outline" (click)="onClose()">Close</button>
            <button type="submit" class="btn-custom btn-primary" id="add-btn"
              [disabled]="complaint === 'Update' && loading || isLoading">
              <span *ngIf="loading || isLoading" class="spinner-border spinner-border-sm me-2"></span>
              <i class="ri-ticket-2-line me-1"></i> {{complaint}} Ticket
            </button>
          </div>
        </div>
      </div>
    </form>

    <form [formGroup]="escalationForm" *ngIf="complaint === 'Escalation'">
      <div class="modal-body">
        <!-- Escalation Form -->
        <div class="step-header">
          <div class="step-num">1</div>
          Escalation Details
        </div>

        <div class="row g-3">
          <div class="col-md-6">
            <div class="fg">
              <label>Complaint ID</label>
              <input type="text" class="form-control" formControlName="complaintId" readonly
                [ngClass]="{'border-danger': escalationForm.controls['complaintId'].invalid && escalationForm.controls['complaintId']?.touched}">
              <div
                *ngIf="escalationForm.controls['complaintId'].invalid && escalationForm.controls['complaintId']?.touched"
                class="text-danger">
                <small *ngIf="escalationForm.controls['complaintId'].errors?.['required']">ComplaintId is
                  required.</small>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="fg">
              <label>Docket No</label>
              <input type="text" class="form-control" formControlName="docketNo" readonly
                [ngClass]="{'border-danger': escalationForm.controls['docketNo'].invalid && escalationForm.controls['docketNo']?.touched}">
              <div *ngIf="escalationForm.controls['docketNo'].invalid && escalationForm.controls['docketNo']?.touched"
                class="text-danger">
                <small *ngIf="escalationForm.controls['docketNo'].errors?.['required']">Docket no. is required.</small>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="fg">
              <label>Ticket Type</label>
              <ng-select [items]="ticketTypes" bindLabel="codeDesc" bindValue="codeId" placeholder="Search Ticket Type"
                formControlName="type" [readonly]="complaint === 'Escalation'" appendTo="body"
                [ngClass]="{'border-danger': escalationForm.controls['type'].invalid && escalationForm.controls['type']?.touched}"></ng-select>
              <div *ngIf="escalationForm.controls['type'].invalid && escalationForm.controls['type']?.touched"
                class="text-danger">
                <small *ngIf="escalationForm.controls['type'].errors?.['required']">Ticket Type is required.</small>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="fg">
              <label>Ticket Description</label>
              <input type="text" class="form-control" formControlName="description" readonly
                [ngClass]="{'border-danger': escalationForm.controls['description'].invalid && escalationForm.controls['description']?.touched}">
              <div
                *ngIf="escalationForm.controls['description'].invalid && escalationForm.controls['description']?.touched"
                class="text-danger">
                <small *ngIf="escalationForm.controls['description'].errors?.['required']">Ticket Description is
                  required.</small>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="fg">
              <label>Assigned To</label>
              <ng-select formControlName="assigned" [items]="assignToList" bindLabel="userName" bindValue="userId"
                placeholder="Search Assigned To" [clearable]="true" [searchable]="true" readonly="true" appendTo="body"
                [ngClass]="{'border-danger': escalationForm.controls['assigned'].invalid && escalationForm.controls['assigned']?.touched}"></ng-select>
              <div *ngIf="escalationForm.controls['assigned'].invalid && escalationForm.controls['assigned']?.touched"
                class="text-danger">
                <small *ngIf="escalationForm.controls['assigned'].errors?.['required']">Assigned To is required.</small>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="fg">
              <label>Ticket Status</label>
              <input type="text" class="form-control" formControlName="status" readonly
                [ngClass]="{'border-danger': escalationForm.controls['status'].invalid && escalationForm.controls['status']?.touched}">
              <div *ngIf="escalationForm.controls['status'].invalid && escalationForm.controls['status']?.touched"
                class="text-danger">
                <small *ngIf="escalationForm.controls['status'].errors?.['required']">Ticket Status is required.</small>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="fg">
              <label>Priority</label>
              <ng-select [items]="priorities" bindLabel="codeDesc" bindValue="codeId" appendTo="body"
                placeholder="Search Ticket Priority" formControlName="priority" [readonly]="complaint === 'Escalation'"
                [ngClass]="{'border-danger': escalationForm.controls['priority'].invalid && escalationForm.controls['priority']?.touched}"></ng-select>
              <div *ngIf="escalationForm.controls['priority'].invalid && escalationForm.controls['priority']?.touched"
                class="text-danger">
                <small *ngIf="escalationForm.controls['priority'].errors?.['required']">Priority is required.</small>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="fg">
              <label>Escalate To *</label>
              <ng-select formControlName="escalatedTo" [items]="assignToList" bindLabel="userName" bindValue="userId"
                (change)="onAssignToList($event)" placeholder="Search Escalate To" [clearable]="true"
                [searchable]="true" [multiple]="true" appendTo="body"
                [ngClass]="{'border-danger': escalationForm.controls['escalatedTo'].invalid && escalationForm.controls['escalatedTo']?.touched}"></ng-select>
              <div
                *ngIf="escalationForm.controls['escalatedTo'].invalid && escalationForm.controls['escalatedTo']?.touched"
                class="text-danger">
                <small *ngIf="escalationForm.controls['escalatedTo'].errors?.['required']">Escalate To is
                  required.</small>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="fg">
              <label>Esc. Date *</label>
              <div class="input-group"
                [ngClass]="{'border-danger': escalationForm.controls['escalatedDate'].invalid && escalationForm.controls['escalatedDate']?.touched}">
                <input class="form-control" placeholder="dd/mm/yyyy" #dpEsc="bsDatepicker" bsDatepicker required
                  formControlName="escalatedDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [disabled]="true"
                  [class.disabled]="true">
                <button class="btn btn-outline-secondary border shadow-none" (click)="dpEsc.toggle()" type="button"
                  [disabled]="true">📅</button>
              </div>
              <div
                *ngIf="escalationForm.controls['escalatedDate'].invalid && escalationForm.controls['escalatedDate']?.touched"
                class="text-danger">
                <small *ngIf="escalationForm.controls['escalatedDate'].errors?.['required']">Esc. Date is
                  required.</small>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="fg">
              <label>Esc. Email ID</label>
              <div class="email-container">
                <div class="email-tags">
                  <span *ngFor="let email of escEmail; let i = index" class="email-tag">
                    {{ email }}
                    <button type="button" (click)="removeEscEmail(i)">×</button>
                  </span>
                </div>
                <input type="text" formControlName="escalatedEmail" (keyup)="onEscKeyUp($event)" readonly
                  placeholder="Emails..." />
              </div>
              <div *ngIf="emailError" class="text-danger"><small>Email is invalid.</small></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="fg">
              <label>Remarks *</label>
              <input type="text" class="form-control" formControlName="escalatedRemarks"
                [ngClass]="{'border-danger': escalationForm.controls['escalatedRemarks'].invalid && escalationForm.controls['escalatedRemarks']?.touched}">
              <div
                *ngIf="escalationForm.controls['escalatedRemarks'].invalid && escalationForm.controls['escalatedRemarks']?.touched"
                class="text-danger">
                <small *ngIf="escalationForm.controls['escalatedRemarks'].errors?.['required']">Remarks is
                  required.</small>
              </div>
            </div>
          </div>
          <div class="col-md-6 fg">
            <label>Attachment</label>
            <input type="file" class="form-control" style="padding: 5px 10px !important;">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-custom btn-outline" (click)="onEscalationClose()">Close</button>
        <button type="submit" class="btn-custom btn-primary" (click)="escalationTicket()"
          [disabled]="escalationForm.invalid">
          <i class="ri-ticket-2-line me-1"></i> Submit
        </button>
      </div>
    </form>
  </div>
</ng-template>