<!-- ══ PRQ ══ -->
<div class="page active fade-in">
  <div class="card s2 no-hover">
    <div class="card-head">
      <div class="ci">🚚</div>
      <div class="card-title">Enquiry List</div>
    </div>
    <table class="mt">
      <thead>
        <tr>
          <th>Ticket #</th>
          <th>Customer</th>
          <th>Category</th>
          <th>Docket No</th>
          <th>Status</th>
          <th>Ticket Date</th>
          <th>Raised By</th>
          <th>Action</th>

        </tr>
      </thead>
      <tbody>

         <tr  data-type="enquiry"><td><strong>ENQ000001</strong></td><td>Nexus Logistics</td><td class="col-category"><span class="pill pgy">Rate Query</span></td><td class="col-docket">C49281508</td><td class="col-status"><span class="pill pg">Open</span></td><td>22/05/2026</td><td>3675:Preethi CS</td><td><button class="btn btn-outline" style="font-size:10px;padding:3px 10px" onclick="viewEnquiry('ENQ000001')">View</button></td></tr>
            <tr  data-type="enquiry"><td><strong>ENQ000002</strong></td><td>Reliance Freight</td><td class="col-category"><span class="pill pgy">POD Request</span></td><td class="col-docket">C49281509</td><td class="col-status"><span class="pill pg">Open</span></td><td>22/05/2026</td><td>3674:Suresh CS</td><td><button class="btn btn-outline" style="font-size:10px;padding:3px 10px" onclick="viewEnquiry('ENQ000002')">View</button></td></tr>
            <tr  data-type="enquiry"><td><strong>ENQ000003</strong></td><td>Sun Pharmaceutical</td><td class="col-category"><span class="pill pgy">Shipment Query</span></td><td class="col-docket">C49281510</td><td class="col-status"><span class="pill pg">Open</span></td><td>21/05/2026</td><td>3676:Deepa Iyer</td><td><button class="btn btn-outline" style="font-size:10px;padding:3px 10px" onclick="viewEnquiry('ENQ000003')">View</button></td></tr>
            <tr  data-type="enquiry"><td><strong>ENQ000004</strong></td><td>ALKEM Wellness</td><td class="col-category"><span class="pill pgy">Delivery Inquiry</span></td><td class="col-docket">C49281511</td><td class="col-status"><span class="pill pg">Open</span></td><td>20/05/2026</td><td>3675:Preethi CS</td><td><button class="btn btn-outline" style="font-size:10px;padding:3px 10px" onclick="viewEnquiry('ENQ000004')">View</button></td></tr>

      </tbody>
    </table>
  </div>
</div>