.disabled-field {
    pointer-events: none;
    background-color: #e9ecef !important;
    opacity: 0.8;
    cursor: not-allowed;
}

/* For input-groups (icon + input) */
.input-group.border-danger .form-control,
.input-group.border-danger .input-group-text,
::ng-deep ng-select.border-danger .ng-select-container {
    border-color: #dc3545 !important;
}