.disabled {
    pointer-events: none;
    opacity: 0.5;
}
/* For input-groups (icon + input) */
.input-group.border-danger .form-control,
.input-group.border-danger .input-group-text ,
ng-select.border-danger .ng-select-container{
    border-color: #dc3545 !important;
}