<div class="csat-tab-container">
    <button id="csat-tab-dashboard" class="csat-tab-btn" [routerLink]="['/csat']"
        [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">📊 Dashboard</button>
    <button id="csat-tab-send" class="csat-tab-btn" [routerLink]="['/csat/send-survey']" routerLinkActive="active">📨
        Send Survey</button>
    <button id="csat-tab-survey" class="csat-tab-btn" [routerLink]="['/csat/customer-survey']"
        routerLinkActive="active">⭐ Customer Survey</button>
    <button id="csat-tab-log" class="csat-tab-btn" [routerLink]="['/csat/survey-log']" routerLinkActive="active">📋
        Survey Log</button>
</div>

<router-outlet></router-outlet>